*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;

}
body{
    overflow-x: auto;
    margin-top: -60px;
}
*::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

.whatsapp{
    position: fixed;
    bottom: 4.6%;
    right: 4.6%;
    width: 70px;
    height: auto;
    z-index: 1005;
}

header{
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    padding-right: 4.6%;
    transition: top 0.5s ease;
}
header a{
    text-decoration: none;
    margin-left: 4.6%;
}
header h1{
    margin-left: 4.6%;
    opacity: 1;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
nav ul li{
    font-size: 20px;
    padding-left: 50px;
}
nav a{
    text-decoration: none;
    color: inherit;     
    display: inline-block;
    transition:  color 0.3s, transform 0.5s;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

nav a:hover {
    color: #000000;
    transform: scale(1.2);
}
.menu-toggle {
    display: none; /* Oculta el ícono del menú en pantallas grandes */
}







.video1{
    height: 110vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #222222;
}

.video1 video {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    z-index: 1;
    opacity: 0.4;
}

.TextoEnVideo{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 2;
    width: 100%;
    font-style: italic;
}

.TextoEnVideo h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 4rem; 
    margin-top: 30px;
}

.TextoEnVideo h2{
    margin-top: 100px;
    font-size: 3rem;
    border-right: 2px solid black;
}


.TextoEnVideo button{
    margin-top: 100px;
    width: 400px;
    height: 60px;
    font-size: 2rem;
    color: #000000;
    background-color:#fcfcfc;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.TextoEnVideo button:hover {
    background-color: #000000; 
    color: white;
}
.TextoEnVideo button img{
    width: 30px;
    height: 30px;
}







.divisor{
    height: 150vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #303030;
}

.fondodivisor{
    width: 100%;
    height: 150%;
}
.fondodivisor img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}



.divisor p{
    max-width: 100%;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-size: 100px;
    margin-top: 10px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 3px black
}

.htmlimg{
    position: absolute;
    top: 20%;
    left: 45%;
    max-width: 100%;
    height: 320px;
}
.htmlp{
    position: absolute;
    top: 38%;
    left: 55%;
}
.javaimg{
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 100%;
    height: 320px;
}
.javap{
    position: absolute;
    top: 20%;
    left: 10%;
}
.firebaseimg{
    position: absolute;
    bottom: 25%;
    left: 7%;
    max-width: 100%;
    height: 320px;
}
.firebasep{
    position: absolute;
    bottom: 20%;
    left: 3%;
}
.figmaimg{
    position: absolute;
    bottom: 15%;
    right: 5%;
    max-width: 100%;
    height: 320px;
}
.figmap{
    position: absolute;
    bottom: 15%;
    right: 2%;
}
.reactimg{
    position: absolute;
    bottom: 10%;
    left: 40%;
    max-width: 100%;
    height: 320px;
}
.reactp{
    position: absolute;
    bottom: 30%;
    left: 35%;
}
.cssimg{
    position: absolute;
    top: 4%;
    right: 4%;
    max-width: 100%;
    height: 320px;
}
.cssp{
    position: absolute;
    top: 20%;
    right: 2%;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000%); /* Mueve todo el contenido fuera de la vista */
    }
}


.carrusel{
    display: none;
}

.estilos {
    display: flex  ;
    flex-direction: column;
    background-color: #A7B4AB;
    height: 240vh;
}

.texto1 {
    display: flex; /* Ocupa todas las columnas */
    text-align: center;
    justify-content: center; /* Centra el texto */ /* Espacio debajo del texto */
}
.visible{
    opacity: 1;
}

.primerafila{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    opacity: 1;
}
.segundafila{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 2%;
    margin-top: 2%;
    opacity: 1;
}

.cure, .cure2, .cure3 {
    background-color: #000000;
    overflow: hidden;
    border-radius: 24px;
    width: 32%;
    height: 90vh;
    position: relative;
    opacity: 0;
}

.cure4, .cure5{
    background-color: #000000;
    overflow: hidden;
    border-radius: 24px;
    width: 30%;
    height: 90vh;
    position: relative;
    opacity: 0;
}
.cure{
    animation-duration: 2s;
}
.cure2{
    animation-duration: 4s;
}
.cure3{
    animation-duration: 5s;
}
.cure4{
    animation-duration: 3s;
}
.cure5{
    animation-duration: 4s;
}

.cure img,
.cure2 img,
.cure3 img,
.cure4 img,
.cure5 img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho */
    height: 100%; /* Mantiene la relación de aspecto */
    opacity: 0.6;
    transition: transform 3s ease;
}

.cure img:hover,
.cure2 img:hover,
.cure3 img:hover,
.cure4 img:hover,
.cure5 img:hover {
    transform: scale(1.3); /* Efecto de zoom al pasar el mouse */
    opacity: 1;
}


.curetext {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; 
    font-size: 2.5rem; 
    text-align: center; 
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 5;
}

.unicos{
    margin-top: 5%;
    margin-left: 0;
}

.texto1 h3{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 124px;
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgba(92, 92, 92, 0.7);
}


.section2{
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7B4AB;
    padding-bottom: 50px;
}

.contacto{
    height: 100vh;
    width: 90%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-left: 1%;
    margin-top: 30px;
    margin-right: 1%;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
}

.formulario {
    width: 45%; /* Ancho del formulario */
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.texto {
    width: 45%; 
    text-align: center; 
    margin-right: 50px;
}

.formulario h2 {
    margin-bottom: 30px;
    font-size: 40px;
}
.texto h3{
    font-size: 28px;
    margin-bottom: 50px;
}

label {
    display: block; 
    margin-bottom: 40px;
}

input,textarea {
    width: 70%; 
    padding: 10px; 
    border: none; 
    border-bottom: 1px solid #4a4a4a;
    outline: none;
    resize: none;
}


.buttoncontainer{
    display: flex;
    justify-content: center;
}

.enviarbutton{
    width: 300px;
    height: 40px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
}

.contact-button{
    width: 300px;
    height: 55px;
    margin-left: 27%;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.contact-button img{
    width: 40px;
    height: auto;
    margin-right: 20px;
}








.ofrecemos{
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
    margin-bottom: 30px;
}
.ofrecemos1{
    display: none;

}
.servicios{
    display: flex;
    justify-content: center;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 124px;
    color: #1c1c1c;
    text-shadow: 2px 2px 4px rgba(213, 213, 213, 0.7);
    margin-top: 30px;
}
.primerafila1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4.6%;
    padding-right: 4.6%;
    opacity: 0;
    animation-duration: 6s;
}
.segundafila1{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 5%;
    margin-top: 5%;
    opacity: 0;
    animation-duration: 6s;
    
}

.cuadradito a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del contenedor */
    display: block; /* Permite que el área del enlace abarque todo el bloque */
}
.cuadradito{
    width: 29%;
    height: 60%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    text-align: center;
    padding: 30px;
    opacity: 1;
    transition: transform 0.5s ease;
    cursor: pointer;
    
}
.cuadradito:hover{
    transform: scale(1.1);
    z-index: 30;
}

.cuadradito h3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
}
.cuadradito img{
    margin-top: 30px;
    width: 30%;
    height: auto;
}
.cuadradito p{
    margin-top: 30px;
    font-size: 20px;
}



@media screen and (max-width: 440px) {
    body{
        overflow-x: hidden;
    }
    header {
        justify-content: space-between;
        align-items: center;
        position: sticky;
        z-index: 1000; 
        top: 0;
        padding-right: 4.6%;
        transition: top 0.5s ease;
    }

    nav ul {
        display: none; /* Ocultamos el menú por defecto */
        position: absolute; /* Para que se superponga al contenido */
        top: 60px; /* Justo debajo del header */
        right: 4.6%;
        width: 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 24px 24px;
        background-color: rgba(255, 255, 255, 0.4); /* Fondo del menú */
        padding: 10px 0; /* Espaciado interno */
        z-index: 100; /* Asegúrate de que esté por encima de otros elementos */
    }

    nav ul li {
        font-size: 16px; 
        padding: 10px 0; 
    }
    nav .nav {
        display: none;
        flex-direction: column; 
        width: 50%; 
    }

    nav .nav.show {
        display: flex; 
        flex-direction: column; /* En columna para que los elementos se apilen */
        align-items: center;
    }

    .menu-toggle {
        display: block; /* Muestra el ícono del menú en pantallas pequeñas */
        cursor: pointer; /* Cambia el cursor al pasar por encima */
        font-size: 24px; /* Tamaño del ícono */
    }
    .menu-toggle img{
        width: 50px;
        height: auto;
        margin-top: 10px;
    }

    .video1 {
        height: 70vh; /* Ajusta la altura del video en pantallas pequeñas */
    }



    .TextoEnVideo h1 {
        font-size: 2rem;
        margin-top: 5%;
        margin-left: 20px;
        margin-right: 20px; /* Reduce el tamaño del texto */
    }

    .TextoEnVideo h2 {
        font-size: 1.5rem;
        margin-top: 15%;
        padding-left: 10px;
        padding-right: 10px; /* Reduce el tamaño del segundo encabezado */
    }

    .TextoEnVideo button {
        width: 60%; /* Asegura que el botón ocupe todo el ancho */
        font-size: 1.5rem;
        margin-bottom: 20px;
        margin-top: 15%; /* Reduce el tamaño de la fuente del botón */
    }
    .texto1 h3{
        font-size: 44px;
        margin-top: -70px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .primerafila, .segundafila{
        display: none;
    }
    .estilos{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .carrusel{
        display: flex; 
        transition: transform 0.5s ease; 
        height: 75vh;
        overflow-x: auto;
    }
    .carruselitem{
        width: 80%;
        margin-left: 20px;
        height: 75vh;
        flex-shrink: 0;
        border-radius: 24px;
        position: relative;
        background-color: #000000;
    }
    .carruselitem img{
        width: 100%;
        height: 100%;
        border-radius: 24px;
        opacity: 1;
    }
    .divisor{
        height: 120vh;
    }
    .divisor p{
        font-size: 52px;
    }
    .htmlimg{
        position: absolute;
        top: 35%;
        left: 35%;
        height: 170px;
        width: auto;
    }
    .htmlp{
        position: absolute;
        top: 30%;
        left: 42%;
    }
    .javaimg{
        position: absolute;
        top: 5%;
        left: 3%;
        height: 170px;
        width: auto;
    }
    .javap{
        position: absolute;
        top: 20%;
        left: 8%;
    }
    .firebaseimg{
        position: absolute;
        bottom: 25%;
        left: 1%;
        height: 170px;
        width: auto;
    }
    .firebasep{
        position: absolute;
        bottom: 30%;
        left: 4%;
    }
    .figmaimg{
        position: absolute;
        bottom: 20%;
        right: 1%;
        height: 170px;
        width: auto;
    }
    .figmap{
        position: absolute;
        bottom: 35%;
        right: 2%;
    }
    .reactimg{
        position: absolute;
        bottom: 4%;
        left: 30%;
        height: 170px;
        width: auto;
    }
    .reactp{
        position: absolute;
        bottom: 10%;
        left: 45%;
    }
    .cssimg{
        position: absolute;
        top: 4%;
        right: 4%;
        height: 170px;
        width: auto;
    }
    .cssp{
        position: absolute;
        top: 10%;
        right: 3%;
    }


    .servicios{
        font-size: 48px;
    }
    .ofrecemos{
        display: none;
    }
    .ofrecemos1{
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;
    }
    .primerafila2, .segundafila2{
        display: flex;
        flex-direction: column;
        padding-left: 4.6%;
        padding-right: 4.6%;
    }
    .cuadradito {
        width: 100%; /* Asegura que los cuadros ocupen el ancho completo */
        margin-bottom: 20px; /* Añade margen inferior entre cuadros */
        animation-duration: 4s;
    }

    .contacto {
        flex-direction: column; /* Cambia la dirección del flex para un diseño vertical */
        padding-top: 30px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px; /* Centra los elementos */
    }

    .formulario {
        width: 90%; /* Ajusta el ancho del formulario */
        padding: 0px;
        margin-bottom: 0px; /* Reduce el padding interno */
        height: 100vh;
    }

    .texto {
        width: 90%; /* Ajusta el ancho del texto */
        margin-top: 0px;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    label {
        display: block; 
        margin-bottom: 20px;
    }
    
    .texto h3{
        margin-top: 0px;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .enviarbutton {
        width: 100%; /* Asegura que el botón ocupe todo el ancho */
        font-size: 1.5rem; /* Reduce el tamaño de la fuente del botón */
    }

    .contact-button {
        width: 100%; 
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 100px;
    }
}